services:
  postgres:
    image: postgres:15-alpine
    container_name: n8n_database
    restart: always
    env_file:
      - .env
    volumes:
      - ./instance/postgres_data:/var/lib/postgresql/data
      - ./include/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ 'CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}' ]
      interval: 5s
      timeout: 5s
      retries: 10

  n8n:
    image: n8nio/n8n:1.120.2
    container_name: n8n_server
    user: "node"
    ports:
      - "5678:5678"
    env_file:
      - .env
    volumes:
      - ./instance/n8n_data:/home/node/.n8n
      - ./include/workflows:/home/node/.n8n/workflows
      - ./include/custom/dist:/home/node/.n8n/custom
      - ./include/uploads:/home/node/uploads
    working_dir: /home/node/.n8n
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5678/rest/healthz" ]
      interval: 30s
      timeout: 5s
      retries: 3
    # extra_hosts:
    #   - "host.docker.internal:host-gateway"

  ollama:
    image: ollama/ollama:0.12.11
    container_name: n8n_ollama
    ports:
      - "11434:11434"
    volumes:
      - ./instance/ollama/ollama:/root/.ollama
      - ./instance/ollama/models:/root/.ollama/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    restart: unless-stopped

  ollama_fallback:
    image: ollama/ollama:0.12.11
    container_name: n8n_ollama_fallback
    ports:
      - "11435:11434"
    volumes:
      - ./instance/ollama/ollama_fallback/:/root/.ollama
      - ./instance/ollama/models:/root/.ollama/models
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    restart: unless-stopped

volumes:
  postgres_data:
  n8n_data:
  ollama:
  ollama_fallback:
